*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
} 
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}  
.marge{
    padding: 0 10vh;
}
    .Accueil{
        display: flex;
        align-items: center;
        background-color: #000;
         img{
            width:10%;
        
        }
    nav{
        background-color: #000;
        width:80%;
        display: flex;
        justify-content: space-around;
        ul{
            display:flex;
            align-items: center;
            gap:5em;
        }
        li{
            
        }
        a {
           color: #fff;
           text-decoration: none;
        }
    }
    .icone {
      a{
         color: #fff;
         gap: 2em;
      }
     }
   }
   header{
    background-image: url("/image/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;
    
    h1{
        color:#D7FF55;
        height:20vh;
        width: 100%;
        padding: 15vh 10vh;

    }
}
.presentation{
    background-color: #000;
    height:30vh;
    h2{
        padding:5vh,10vh;
        color:#D7FF55;
        padding:5vh 10vh;
    }
    p{
        text-align: center;
        color:#fff; 
        padding: 0 50vh;
    }
}
H3{
    background-color:#D7FF55 ;
    padding: 3vh 10vh;
    height:10vh;
  }
  .produit{
    background-color: #000;
    .produitContainer{
        flex-direction: column;
        gap: 10em 0;
        padding-top: 7vh;
        padding-bottom: 7vh;
        article{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            .texteProduit{
                text-align: center;
                width: 40%;
                h4{
                    font-size: 1.5rem;
                }
                a{
                    color: #D7FF55;
                    text-decoration: none;
                }
            }
            img{
                width:40%;
            }
        }
    }
}
H3{
    background-color:#D7FF55 ;
    padding: 3vh 10vh;
    height:10vh;
  }
  .cours{
     margin: 5vh 0;
    .coursContainer{
        h4{
            color:#D7FF55;
            font-size: 1.5rem;
        }
    }
    .image{
        display: flex;
        justify-content: space-around;
        margin: 5vh 0;
        img{
            width:20%;
        }
    }
    a{
        border-radius: 5vh;
        color:#000;
        text-decoration: none;
        padding: 2vh 5vh;
        background-color: #D7FF55;
        display: inline-block;
        font-weight: 600;
    }
  }
  footer{
    background-color: #000;
    .footer{
        display: flex;
        justify-content: center;
        gap:2em;
       svg{
        fill:#000;
        stroke:#fff;
        width:3vh;
        height:3vh;
       }
    }
    .copyright{
        a{
             display: flex;
             justify-content: center;
             margin: 2vh 5vh ;
             margin-bottom: 2vh 5vh;
            text-decoration: none;
            text-align: center;
            color:#fff;
            padding:2vh;
        }
    }
  }
  
  
  

