*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
} 
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}  
.marge{
    padding: 0 10vh;
}
    .Accueil{
        display: flex;
        align-items: center;
        background-color: #000;
         img{
            width:10%;
        
        }
    nav{
        background-color: #000;
        width:80%;
        display: flex;
        justify-content: space-around;
        ul{
            display:flex;
            align-items: center;
            gap:5em;
        }
        a {
           color: #fff;
           text-decoration: none;
        }
    }
    .icone {
      a{
         color: #fff;
         gap: 2em;
      }
     }
   }
   header{
    background-image: url("/image/19735-balle_de_tennis-raquette-balles_de_tennis-4000x2667.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    background-position: center;
      h1{
        color:#D7FF55;
        height:20vh;
        width: 100%;
        padding: 15vh 10vh;

    }
}
.formulaire{
    background-color: #000;
    padding:2vh 2vh;
     text-align: center;
    h2{
        display: flex;
        justify-content: center;
        color:#fff;
        padding:2vh 2vh;
    }
    div{
        color:#fff;
        text-align: center;
         padding:2vh 2vh;
    }
    #submit{
        padding:1vh;
        border-radius: 5vh;
        color:#000;
        background-color: #D7FF55;
        text-decoration: none;
        margin: 2vh 2vh;
    }
}
   


 footer{
    background-color: #000;
    .footer{
        display: flex;
        justify-content: center;
        gap:2em;
       svg{
        fill:#000;
        stroke:#fff;
        width:3vh;
        height:3vh;
       }
    }
    .copyright{
        a{
             display: flex;
             justify-content: center;
             margin: 2vh 5vh ;
             margin-bottom: 2vh 5vh;
            text-decoration: none;
            text-align: center;
            color:#fff;
            padding:2vh;
        }
    }
  }