*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Roboto", sans-serif;
}

/* nav */



.navbarContainer {

            background-color: #000;

            div {
                justify-content: space-between;

                img {
                    width: 10%;

                }

                nav {
                    width: 50%;

                    ul {
                        display: flex;
                        justify-content: space-around;

                    }


                }
            }
 }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.marge {
    padding: 0vh 10vh;
}

a{
    text-decoration: none;
    color: #fff;

}

/* Header */

main{
    .title{
    background-color:#D7FF55;
    width: 100% ;
    height: 6VH;
    text-align: center;
    text-transform: uppercase;
    font-size: 19px;
    color:black;
} 
}
   header{
    background-image: url(../img/istockphoto-832170050-170667a.jpg);
    background-position: center;
    background-size: cover;
    height: 116VH;

    .titlee{
        text-align: center;
        font-size: 26px;
        text-transform: uppercase;
        padding: 4vh;
    }

    .nom{
        display: flex;
        justify-content: space-between;
        
        .jo{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10vh;
            p{
                font-size: 25px;
                font-weight:900;
                margin-left: 5vh;
                
            }
            
}
.ru{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    p{
        font-size: 25px;
        font-weight:900;  
    }
}
.la{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    p{
        font-size: 25px;
        font-weight: 900;
        margin-right: 5vh;
        }
    }
}

// cours

.container{
    display: flex;
    justify-content: center;
    margin-top: 12vh;
    gap: 10vh;

  
    
    .cours{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        font-size: 36px;

        .price{
            margin-top: 3vh;
       
        }
        
         ul{ 
            
            margin-top: 3vh;
            display: flex;
            flex-direction: column;
            align-items: center;
                
        }
       
    }

.courss{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        font-size: 36px;

    .price{
        margin-top: 3vh;
       
    }
            ul{ 
                margin-top: 3vh;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
       
        }
     }   
    
        .adhesion{
            color: #fff;
            font-size: 20px;
            display: flex;
            justify-content: end;
            margin-right: 1vh;
            margin-top: 5vh;
        }
   }  

//    footer

footer{
    background-color: #000;
    .footer{
        display: flex;
        justify-content: center;
        gap:2em;
       svg{
        fill:#000;
        stroke:#fff;
        width:3vh;
        height:3vh;
       }
    }
    .copyright{
        a{
             display: flex;
             justify-content: center;
             margin: 2vh 5vh ;
             margin-bottom: 2vh 5vh;
            text-decoration: none;
            text-align: center;
            color:#fff;
            padding:2vh;
        }
    }
  }





