// Reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// center
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// les a
a {
    text-decoration: none;
    color: #fff;
}

// class marge
.marge {
    padding: 0vh 10vh;
}

// body
body {
    main {
        // Navbar
        .navbarContainer {
            background-color: #000;
            div {
                justify-content: space-between;
                img {
                    width: 10%;
                }
                nav {
                    width: 50%;
                    ul {
                        display: flex;
                        justify-content: space-around;
                        li {
                            font-size: 1.5rem;
                        }
                    }
                }
                .navIcons {
                    display: flex;
                    gap: 1.5em;
                    a {
                        svg {
                            width: 5vh;
                            height: 5vh;
                        }
                    }
                }
            }
        }
        // header
        header {
            height: 80vh;
            background-image: url(../img/Slideshow_8_d21605d8-9904-40b9-b4cf-f2e20fc0115b.webp);
            background-position: center;
            background-repeat: none;
            background-size: cover;
            h1 {
                color: #D7FF55;
                font-size: 2.5rem;
                text-transform: uppercase;
                text-align: end;
                width: 60%;
            }
        }
        // field besoin
        .field {
            padding: 3vh 0;
            background-color: #000;
            h6 {
                color: #fff;
                font-size: 2.3rem;
            }
        }
        // section besoin
        .besoin {
            padding: 15vh 0;
            display: flex;
            align-items: center;
            .itemBesoin {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img {
                    width: 50%;
                }
                text-align: center;
                p {
                    margin-top: 2vh;
                    font-size: 1.3rem;
                    width: 40%;
                }
            }
        }
        // Section produit
        .produit {
            .produitContainer {
                padding: 7vh 0;
                flex-wrap: wrap;
                gap: 5em;
                // produitArticle
                .produitArticle {
                    background-color: #000;
                    display: flex;
                    justify-content: space-between;
                    width: 40%;
                    padding: 2vh;
                    border-radius: 8vh;
                    img {
                        width: 40%;
                        margin-left: 2.5vh;
                    }
                    .textProduit {
                        color: #fff;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        justify-content: space-between;
                        width: 55%;
                        padding-top: 2vh;
                        font-size: 1.3rem;
                        button {
                            margin-right: 2vh;
                            text-align: center;
                            width: 50%;
                            padding: 2vh 2vh;
                            border-radius: 8vh;
                            background-color: #D7FF55;
                            align-self: end;
                            font-size: 1rem;
                            cursor: pointer;
                            transition: 1s;
                            &:hover {
                                background-color: #729307;
                            }
                        }
                    }
                }
            }
        }
        // footer
        footer {
            background-color: #000;
            padding-top: 5vh;
            .iconFooter {
                display: flex;
                justify-content: center;
                gap: 2em;
                svg {
                    fill: #000;
                    stroke: #fff;
                    width: 3vh;
                    height: 3vh;
                    cursor: pointer;
                }
            }
            .copyright {
                a {
                    display: flex;
                    justify-content: center;
                    margin: 2vh 5vh;
                    margin-bottom: 2vh 5vh;
                    text-decoration: none;
                    text-align: center;
                    color: #fff;
                    padding: 2vh;
                }
            }
        }
    }
}
// Breakpoint 1024px
@media screen and (max-width: 1024px){
    body{
        main{
            .navbarContainer{
                div{
                    img{
                        width: 7%;
                    }
                    nav{
                        ul{
                            li{
                                font-size: 1rem;
                            }
                        }
                    }
                    .navIcons{
                        a svg{
                            width: 4vh;
                            height: 4vh;
                        }
                    }
                }
            }
            .field{
                h6{
                    font-size: 1.7rem;
                }
            }
            .textProduit {
                p{
                    font-size: 1.2rem;
                }
            }
        }
    }
}